In [5]:
import pandas as pd

df = pd.read_csv("traffic_tweets_2922_anon.csv")

In [6]:
df.head()

,Unnamed: 0,Date,Tweet,likeCount
0,0,2022-12-22 23:30:00+00:00,The Metropolitan Manila Development Authority ...,1
1,1,2022-12-22 23:23:42+00:00,This woman prevented prrd from having emergenc...,5
2,2,2022-12-22 23:13:38+00:00,Traffic Update as of 07:12 am\nSouth Metro Man...,1
3,3,2022-12-22 23:03:08+00:00,Traffic Update as of 07:02 am\nManila-Cavite T...,1
4,4,2022-12-22 22:03:00+00:00,the only one place you can possibly find traff...,4