In [5]:
import pandas as pd

df = pd.read_csv("traffic_tweets_2922_anon.csv")

In [6]:
df.head()

,Unnamed: 0,Date,Tweet,likeCount
0,0,2022-12-22 23:30:00+00:00,The Metropolitan Manila Development Authority ...,1
1,1,2022-12-22 23:23:42+00:00,This woman prevented prrd from having emergenc...,5
2,2,2022-12-22 23:13:38+00:00,Traffic Update as of 07:12 am\nSouth Metro Man...,1
3,3,2022-12-22 23:03:08+00:00,Traffic Update as of 07:02 am\nManila-Cavite T...,1
4,4,2022-12-22 22:03:00+00:00,the only one place you can possibly find traff...,4

In [2]:
import pandas as pd
import sqlite3

# Load CSV
df = pd.read_csv("traffic_tweets_2922_anon.csv")

# Show CSV as a REAL table (not print)
print("CSV Preview:")
display(df.head(10))   # shows a nice HTML table
print()

# Connect to SQLite
conn = sqlite3.connect("traffic_tweets.db")

# Save to DB
df.to_sql("tweets", conn, if_exists="replace", index=False)

# Query from SQLite
query = "SELECT * FROM tweets LIMIT 20"
table = pd.read_sql(query, conn)

print("SQLite Table Preview:")
display(table)   # real table display

# Optional: schema
schema = pd.read_sql("PRAGMA table_info(tweets);", conn)
print("Table Schema:")
display(schema)

conn.close()

CSV Preview:

,Unnamed: 0,Date,Tweet,likeCount
0,0,2022-12-22 23:30:00+00:00,The Metropolitan Manila Development Authority ...,1
1,1,2022-12-22 23:23:42+00:00,This woman prevented prrd from having emergenc...,5
2,2,2022-12-22 23:13:38+00:00,Traffic Update as of 07:12 am\nSouth Metro Man...,1
3,3,2022-12-22 23:03:08+00:00,Traffic Update as of 07:02 am\nManila-Cavite T...,1
4,4,2022-12-22 22:03:00+00:00,the only one place you can possibly find traff...,4
5,5,2022-12-22 21:31:09+00:00,Pota bumiyahe ng more than 12 hrs. Nastress da...,1
6,6,2022-12-22 20:20:46+00:00,$ader $aderw Value investors note that the tra...,5
7,7,2022-12-22 20:00:50+00:00,last shift later before Christmas! Emily &amp;...,0
8,8,2022-12-22 19:23:59+00:00,Sayang gusto ko sana marinig balikbayan box pa...,0
9,9,2022-12-22 19:17:15+00:00,Prev. five days passed like a blur. Felt like ...,0

SQLite Table Preview:

,Unnamed: 0,Date,Tweet,likeCount
0,0,2022-12-22 23:30:00+00:00,The Metropolitan Manila Development Authority ...,1
1,1,2022-12-22 23:23:42+00:00,This woman prevented prrd from having emergenc...,5
2,2,2022-12-22 23:13:38+00:00,Traffic Update as of 07:12 am\nSouth Metro Man...,1
3,3,2022-12-22 23:03:08+00:00,Traffic Update as of 07:02 am\nManila-Cavite T...,1
4,4,2022-12-22 22:03:00+00:00,the only one place you can possibly find traff...,4
5,5,2022-12-22 21:31:09+00:00,Pota bumiyahe ng more than 12 hrs. Nastress da...,1
6,6,2022-12-22 20:20:46+00:00,$ader $aderw Value investors note that the tra...,5
7,7,2022-12-22 20:00:50+00:00,last shift later before Christmas! Emily &amp;...,0
8,8,2022-12-22 19:23:59+00:00,Sayang gusto ko sana marinig balikbayan box pa...,0
9,9,2022-12-22 19:17:15+00:00,Prev. five days passed like a blur. Felt like ...,0
10,10,2022-12-22 18:50:00+00:00,"So ayon, TLDR, ayakong maging mas pabigat pa s...",4
11,11,2022-12-22 18:40:13+00:00,Dead tired but what a solid setlist from Erase...,0
12,12,2022-12-22 17:21:23+00:00,Not gonna say anything about this. BUUUUUT WAN...,2
13,13,2022-12-22 17:00:54+00:00,I will be here in Manila / Antipolo for a mont...,22
14,14,2022-12-22 16:23:33+00:00,@sweatystartup Out of curiosity have you visit...,3
15,15,2022-12-22 16:23:10+00:00,@jooniuverse @AncaSimply Interesting! Trivia:...,1
16,16,2022-12-22 16:15:00+00:00,The Metropolitan Manila Development Authority ...,4
17,17,2022-12-22 16:00:48+00:00,sobraaang traffic sa manila ngayong holiday go...,0
18,18,2022-12-22 15:50:38+00:00,@jjicheol Natrauma nakos traffic sa manila HAH...,0
19,19,2022-12-22 15:40:16+00:00,Ghurl we're no better than manila. Parehas rat...,0

Table Schema:

   cid        name     type  notnull dflt_value  pk
0    0  Unnamed: 0  INTEGER        0       None   0
1    1        Date     TEXT        0       None   0
2    2       Tweet     TEXT        0       None   0
3    3   likeCount  INTEGER        0       None   0